@model Presupuestos.Models.TblEmpresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblEmpresa</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioFiscal_calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioFiscal_calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioFiscal_noExterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioFiscal_noExterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioFiscal_colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioFiscal_colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioFiscal_localidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioFiscal_localidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioFiscal_municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioFiscal_municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioFiscal_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioFiscal_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioFiscal_pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioFiscal_pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioFiscal_codigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioFiscal_codigoPostal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEmpresa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
