@model Presupuestos.Models.TblEmpleado

@{
    ViewBag.Title = "Nuevo Empleado";
}

<h2>Nuevo Empleado</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>TblEmpleado</h4>*@
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paterno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paterno)
                @Html.ValidationMessageFor(model => model.Paterno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Materno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Materno)
                @Html.ValidationMessageFor(model => model.Materno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Correo)
                @Html.ValidationMessageFor(model => model.Correo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDPuesto, "Puesto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDPuesto", String.Empty)
                @Html.ValidationMessageFor(model => model.IDPuesto)
            </div>
        </div>     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>
