@model Presupuestos.Models.TblCliente

@{
    ViewBag.Title = "Catálogo de Clientes";
}

<h2>Nuevos Clientes</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>TblCliente</h4>*@
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.NombreComercial,"Nombre Comercial", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreComercial)
                @Html.ValidationMessageFor(model => model.NombreComercial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RazonSocial,"Razón Social", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RazonSocial)
                @Html.ValidationMessageFor(model => model.RazonSocial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RFC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RFC)
                @Html.ValidationMessageFor(model => model.RFC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Activo)
                @Html.ValidationMessageFor(model => model.Activo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
