@model IEnumerable<Presupuestos.Models.TblUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TblEmpleado.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TblEmpleado.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUsuario })
        </td>
    </tr>
}

</table>
